<launch>
  <node name="master_discovery" pkg="fkie_master_discovery" type="master_discovery">
    <!-- todos los Solo Server-->
    <rosparam param="robot_hosts">[ARPA-G16]</rosparam>
    <rosparam param="send_mcast">False</rosparam>
    <rosparam param="listen_mcast">False</rosparam>
  </node>
  <node name="master_sync" pkg="fkie_master_sync" type="master_sync">
    <!-- todos los Solo Server-->
    <rosparam param="sync_hosts">[ARPA-G16,ubuntugrvc-Lenovo-ideapad-330-15ICH
]</rosparam>
  </node>
</launch>
